body, *{
  margin: 0;
  padding: 0;
}


.cart-wrapper{padding: 15px; border: 1px solid #ccc; display: flex; gap: 20px; margin: 0 auto; align-items: center; justify-content: center; max-width: 500px;}

.cart-wrapper img{width: 120px; height: auto;}

.cart-wrapper button{
  padding: 0 15px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  background: red;
  color: #fff;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;

}

.main-wrapper{
  position: relative;
  width: 100%;
}

.main-wrapper h1{
  text-align: center;
  margin-bottom: 30px;
}

.main-wrapper .cart{
  position: absolute;
  right: 15px;
  top:15px
}

.main-wrapper .cart img{
  width: 45px;
  height: 45px;
}